*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
visual_ext_index.html
/webapp/visual_ext_index.html
UIAdaptation_index.html
changes_preview_index.html
mock_preview_sapui5.html
.*/mock_preview_sapui5.html
sap-ui-cachebuster-info.json